body {
  color: rgb(51, 51, 51);
  font-family: Arial;
  background: #fbf8f1;
}
.header {
  text-align: center;
}
.container {
  margin: auto;
  width: 960px;
}

.album-list {
  width: 39%;
  display: inline-block;
  vertical-align: top;
}

.album-details {
  width: 60%;
  display: inline-block;
  vertical-align: top;
  line-height: 25px;
}

.album-cover {
  float: right;
  margin: 15px;
  width: 350px;
  border: 1px solid gray;
}

.album-item {
  cursor: pointer;
}
.album-item.current span {
  border-bottom: gray solid 3px;
}
