<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
  <script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/eventEmitter/EventEmitter.js"></script>
  <script type="text/javascript" src="/bower_components/eventie/eventie.js"></script>
  <script type="text/javascript" src="/bower_components/imagesloaded/imagesloaded.js"></script>
</head>
<body>

  <h2 class="header">The King Of Pop: Michael Jackson</h2>
  <div ng-controller="AlbumsController" class="container">
    <div class="album-list">
      <div 
        class="album-item" 
        ng-class="{ current: isCurrent(album) }"
        ng-repeat="album in albums" >
        <p ng-click="setCurrentAlbum(album)"><span>{{album.name}}</span></p>
      </div>
    </div>

    <div class="album-details" fade-in-after-image-loaded>
      <h3 class="album-title">{{ currentAlbum.name }}</h3>
      <div class="album-content">
        <img class="album-cover" ng-src="{{currentAlbum && currentAlbum.cover_url}}" alt="" />
        <p class="album-review">{{ currentAlbum.review }}</p>
      </div>
    </div>

  </div>



  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
